.visual-bouquet {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 200px;
    outline: 1px solid black;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    justify-content: center;
  }
  
  .item {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: #ccc; /* Adjust background color as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .focal-flowers {
    outline: 1px solid red;
  }
  
  .focal-flowers img {
    width: 30%;
    height: auto;
    outline: 1px solid green;
  }
  